.header {
    background-color: black;
    height: 4em;
    padding: 0 20px;
}
.navbar {
    height: 100%;
    align-items: center;
}
.nav {
    width: 100%;
    justify-content: space-between;
}
.brand {
    min-width: 180px;
    /* background-color: rgb(146, 138, 138); */
    height: 100%;
}
.search {
    width: 60%;
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
    /* margin-left: 2em; */
}
.search-form {
    border-radius: 10px;
    background-color: rgb(44, 43, 43);
    width: 65%;
    padding: 0 10px 0 55px;
}
.search-form input {
    width: 100%;
    color: white;
    font-weight: 600;
    background: transparent;
    box-shadow: none;
    padding: 10px 0;
}
.search-form input:focus {
    outline: none;
}
.search-form .label {
    background-color: rgb(44, 43, 43);
    position: absolute;
    margin: 0 10px;
    height: 100%;
    /* width: 50px; */
    border-radius: 36px;
    left: 20px;
    top: 0;
}
.btn {
    height: 30px;
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    width: 70px;
    cursor: pointer;
    background-color: rgb(22, 212, 212);
}
.logbtn {
    background-color: transparent;
}
.cart {
    height: 20px;
    margin-right: 10px;
}
.bage {
    width: 50%;
    border-radius: 16px;
    background-color: rgb(25, 210, 210);
    position: absolute;
    top: -20%;
    right: 0;
    font-size: 12px;
}

@media screen and (max-width: 900px) {
    .search-form input {
        font-size: 12px;
        font-weight: 300;
    }

    .search {
        width: auto;
    }
    .btn {
        height: 35px;
        width: 55px;
        font-size: 12px;
    }
    .brand {
        min-width: auto;
    }
}

@media screen and (max-width: 520px) {
    .header {
        padding: 0 5px;
    }
    .bage {
        font-size: 10px;
    }
    .search-form input {
        display: none;
        width: 0;
    }
    .nav {
        justify-content: end;
    }
    .navbar {
        justify-content: start;
    }
    .search {
        margin: 0;
        padding: 0;
    }
    .btn {
        height: 25px;
        width: 45px;
        font-size: 11px;
    }
    .search-form .label {
        width: 25px;
        height: 25px;
        top: -13px;
        left: 30px;
    }
    .search-form .label img {
        width: 14px;
        /* height: 25px; */
    }
    .cart {
        height: 16px;
    }
    .l .title {
        font-size: 18px;
    }
    .l img {
        height: 30px;
    }
}
