.brand2 {
    margin-left: -40px;
    padding-left: 30px;
    height: 4em;
    position: fixed;
    z-index: 3;
    width: 195px;
    top: 0;
    background-color: rgb(27, 27, 27);
    /* background-color: rgb(105, 13, 13); */
}
.sidebar {
    background-color: rgb(27, 27, 27);
    min-width: 180px;
    padding: 0px 5px 4em 20px;
}
.closeButton {
    transition: 0.3s linear;
}
.menu {
    height: calc(100vh - 2 * 4em);
    overflow-y: scroll;
}
.menu::-webkit-scrollbar {
    display: none;
}
.menu h4 {
    color: gray;
}
.active {
    color: red;
}
#menu div .link {
    display: flex;
    text-align: center;
    gap: 10px;
    margin: 5px 0;
    padding: 5px;
}
.link:hover {
    color: rgb(109, 109, 109);
}

.sidebar-footer {
    margin-bottom: 30px;
    color: gray;
    font-size: 14px;
}
.sidebar-footer p {
    color: white;
}
.switch {
    position: relative;
    width: 33px;
    height: 16px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #646262;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #000000;
}
.slider:before {
    position: absolute;
    content: '';
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: -1px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
@media only screen and (max-width: 900px) {
    .sidebar {
        position: fixed;
        position: absolute;
        z-index: 3;
        left: -130%;
        width: 250px;
        animation: show 0.4s 1 ease-in;
    }
    .brand2 {
        width: 265px;
    }
    @keyframes show {
        from {
            left: -150%;
        }
        to {
            left: 0;
        }
    }
}
