.player {
    height: 4em;
    width: 100%;
    background-color: saddlebrown;
    position: fixed;
    bottom: 0;
    z-index: 10;
}
.controls {
    padding: 10px;
    width: 100%;
    /* justify-content: space-around; */
}
