.player {
    height: 4em;
    width: 100%;
    background-color: saddlebrown;
    position: fixed;
    bottom: 0;
    z-index: 10;
}
.controls {
    padding: 15px;
    width: 100%;
    /* justify-content: space-around; */
}
.player-control {
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}
.songinfo .songtitle {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.songinfo {
    /* min-width: 25%; */
    background-color: red;
    align-items: center;
    /* justify-content: space-between; */
}
.aboutsong {
    gap: 0.2rem;
}
.songinfo img {
    /* padding: 0.2rem; */
    height: 55px;
}
.songinfo .yoursaver {
    margin-left: 10px;
}
.songinfo .aboutsong .title {
    font-size: 14px;
}
.controlsply {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.controlsply .icon {
    font-size: 2rem;
}
.seekbar {
    margin: 8px;
    background-color: black;
    border-radius: 10px;
    width: 100%;
    position: relative;
}
/* .seekbarC {
    width: 50%;
} */
