/* .App {
  text-align: center;
} */

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(116, 114, 114);
    color: white;
}

.headerS {
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
}
main {
    width: 100%;
}

/* media quaery */
@media screen and (max-width: 300px) {
    .header {
        overflow: hidden;
    }
}
